<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bach</h1>
    <img src="/img/Bach.jpg" alt="Bach">
    <P> Johann Sebastian Bach (Eisenach, Sacro Imperio Romano Germánico, 21 de marzojul./ 31 de marzo de 1685greg.-Leipzig, Sacro Imperio Romano Germánico, 28 de julio de 1750) fue un compositor, músico, director de orquesta, maestro de capilla, cantor y profesor alemán del período barroco.</P>
    <p>Su fecunda obra es considerada la cima de la música barroca; destaca en ella su profundidad intelectual, su perfección técnica y su belleza artística, además de la síntesis de los diversos estilos nacionales de su época y del pasado. Bach es considerado el último gran maestro del arte del contrapunto y fuente de inspiración e influencia para posteriores compositores y músicos, tales como Joseph Haydn, Wolfgang Amadeus Mozart, Ludwig van Beethoven, Felix Mendelssohn, Robert Schumann y Frédéric Chopin, entre muchos otros.</p>
    <p>Entre sus obras más conocidas se encuentran los Conciertos de Brandeburgo, El clave bien temperado, la Misa en si menor, la Pequeña fuga en sol menor, la Pasión según San Mateo, El arte de la fuga, Ofrenda musical, las Variaciones Goldberg, la Tocata y fuga en re menor, varios ciclos de cantatas (entre ellas las célebres Wachet auf, ruft uns die Stimme, BWV 140 y Herz und Mund und Tat und Leben, BWV 147), el Concierto italiano, BWV 971, la Obertura en estilo francés, BWV 831, las Suites para violonchelo solo, las Sonatas y partitas para violín solo, los Conciertos para teclado y las Suites para orquesta.</p>
        
    
</body>
</html>