<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Stephen William Hawking</h1>
    <img src="/img/hawking.jpg" alt="hawking">
    <p> Stephen William Hawking ( Oxford, 8 de enero de 1942-Cambridge, 14 de marzo de 2018)fue un físico teórico, astrofísico, cosmólogo y divulgador científico británico. Sus trabajos más importantes consistieron en aportar, junto con Roger Penrose, teoremas respecto a las singularidades espaciotemporales en el marco de la relatividad general y la predicción teórica de que los agujeros negros emitirían radiación, lo que se conoce hoy en día como radiación de Hawking (o a veces radiación Bekenstein-Hawking). Una de las principales características de su personalidad fue su contribución al debate científico, a veces apostando públicamente con otros científicos. El caso más conocido es su participación en la discusión sobre la conservación de la información en los agujeros negros</p>
    
    <p>Entre las numerosas distinciones que le fueron concedidas, recibió doce doctorados honoris causa y fue galardonado con la Orden del Imperio Británico (grado CBE) en 1982, el Premio Príncipe de Asturias de la Concordia en 1989, la Medalla Copley en 2006, la Medalla de la Libertad en 2009 y el Premio Fundación BBVA Fronteras del Conocimiento en 2015.</p>

</body>
</html>