<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Napoleon I Bonaparte</h1>
    <img src="/img/Napoleon.jpg" alt="Napoleon">
    
    <p>Napoleón I Bonaparte (Ajaccio, 15 de agosto de 1769-Longwood, 5 de mayo de 1821) fue un militar y estadista francés, general republicano durante la Revolución francesa y el Directorio, y artífice del golpe de Estado del 18 de brumario que lo convirtió en primer cónsul (Premier Consul) de la República el 11 de noviembre de 1799. Fue además cónsul vitalicio desde el 2 de agosto de 1802 hasta su proclamación como emperador de los franceses (Empereur des Français) el 18 de mayo de 1804, siendo coronado el 2 de diciembre; fue proclamado también rey de Italia el 18 de marzo de 1805 y coronado el 26 de mayo. Ostentó ambos títulos hasta el 11 de abril de 1814, y desde el 20 de marzo hasta el 22 de junio de 1815.</p>
    
    <p>Napoleón es considerado uno de los mayores genios militares de la historia, ya que comandó campañas bélicas muy exitosas, aunque con ciertas derrotas igual de estrepitosas. Sus agresivas guerras de conquista se convirtieron en las mayores operaciones militares conocidas hasta ese momento en Europa, en las que involucró a un número de soldados jamás visto en los ejércitos de la época. Además de estas proezas bélicas, se le conoce por el Código Napoleónico; es considerado por algunos un «déspota ilustrado» debido a su extraordinario talento y capacidad de trabajo. Otros, sin embargo, lo estiman un dictador tiránico cuyas guerras causaron la muerte de millones de personas. Se le juzga como el personaje clave que marcó el inicio del siglo XIX y la posterior evolución de la Europa contemporánea.</p>

</body>
</html>