<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Friedrich Wilhelm Nietzsche</h1>
    <img src="/img/Nietzsche.jpg" alt="Nietzsche">
    
    
    <p>Friedrich Wilhelm Nietzsche, (15 de octubre de 1844-Weimar, 25 de agosto de 1900) fue un filósofo, poeta, músico y filólogo alemán del siglo XIX, considerado uno de los filósofos más importantes de la filosofía occidental, cuya obra ha ejercido una profunda influencia tanto en la historia como en la cultura occidental.</p>
    
    <p>Nietzsche escribió sobre temas tan diversos como el arte, la filología, la historia, la religión, la ciencia o la tragedia. Hizo una crítica de la cultura, la religión y la filosofía occidental mediante la genealogía de los conceptos que las integran, basada en el análisis de las actitudes morales (positivas y negativas) hacia la vida. Este trabajo afectó profundamente a generaciones posteriores de teólogos, antropólogos, filósofos, sociólogos, psicólogos, politólogos, historiadores, poetas, novelistas y dramaturgos.</p>

</body>
</html>