<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">Heores</h1>
    <ul type="none">
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-Lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
    </ul>
           
    <div>
        <a href="/Bach"><img src="/img/Bach.jpg" alt="Bach"></a>
        <a href="/davinci"><img src="/img/davinci.jpg" alt="davinci"></a>
        <a href="/hawking"><img src="/img/hawking.jpg" alt="hawking"></a>
        <a href="/Napoleon"><img src="/img/Napoleon.jpg" alt="Napoleon"></a>
        <a href="/Nietzsche"><img src="/img/Nietzsche.jpg" alt="Nietzsche"></a>
        <a href="/Salomon"><img src="/img/Salomon.jpg" alt="Salomon"></a>
        <a href="/Yousafzai"><img src="/img/Yousafzai.jpg" alt="Yousafzai"></a>
    </div>
</body>
</html>