<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Salomon</h1>
    <img src="/img/Salomon.jpg" alt="Salomon">
    
    <p>Salomón (hebreo שְׁלֹמֹה, Shlomoh), también llamado Jedidías (hebreo: יְדִידְיָהּ Yedidyah),fue, según la Torá y el Antiguo Testamento cristiano, un sabio y Rey del Reino Unido de Israel que sucedió a su padre, David. Su vida y obra se describen en la Primera de Reyes y la Segunda de Crónicas. Según los escritos sagrados, fue el tercer y último monarca de la Monarquía Unida (es decir, antes de la separación del territorio israelita en los reinos de Judá e Israel)Su reinado duró cuatro décadas, tradicionalmente entre los años 965 y 928 a. C</p>
    
    <p>Se lo describe como sabio e inmensamente rico, con un gran harén, el cual incluía a «la hija de Faraón», y se añade que dedicó su reinado a grandes proyectos de construcción, notablemente el Templo de Jerusalén. Es presentado como un fervoroso adorador de Yahveh, devenido en politeísta en su vejez.</p>

</body>
</html>